---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="Контакты"
  description="Мы открыты к письмам: темы для разбора, отклики на материалы, вопросы о сотрудничестве и рекламе."
>
  <p>
    Пишите на <a class="inline" href="mailto:yuriysklv@gmail.com">yuriysklv@gmail.com</a>.
  </p>
</PageLayout>
